.clickerContainer{
    border: 1px solid grey;
    border-radius: 3px;
    width: 278px;
    margin: auto;
    overflow: hidden;
}

.screen{
    text-align: center;
    height: 200px;
    position: relative;
    background-color: #F8F9FA;
}

.screen div{
    font-size: 85px;
    font-weight: bold;
    color: #6C757D;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.controllers{
    display: flex;
    cursor: pointer;
}

.controller{
    flex: 1;
    height: 113px;
    border-radius: 0;
    overflow: hidden;
}

.controller.minus{
    background-color: #DC3545;
    border: 0px;
}

.controller.minus:hover{
    background-color: rgb(241, 28, 49);
}

.controller.refresh{
    background-color: #FFC107;
    border: 0px;
}

.controller.refresh:hover{
    background-color: rgb(255, 230, 0);
}

.controller.plus{
    background-color: #28A745;
    border: 0px;
}

.controller.plus:hover{
    background-color: rgb(33, 141, 58);
}